.rapidinho {
  background-color: bisque;
}
#sub {
  font-style: italic;
}
.one {
  text-align: center;
  font-style: oblique;
}
body {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  width: 60%;
}

img {
  display: block;
  max-width: 100%;
}
nav {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px gray solid;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav ul li a {
  padding: 5px 10px;
  text-decoration: wavy;
  font-style: oblique;
  color: black;
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

table {
  width: 100%;
}
